<script>
    import Countries from '../components/user/Countries.svelte'
    import CheckIcon from '../components/icons/CheckIcon.svelte'

    import { _ } from '../i18n.js'
    import { AppConfig, appRoutes } from '../config.js'
    import { warrior } from '../stores.js'

    export let xfetch
    export let eventTag

    const { ShowActiveCountries, PathPrefix } = AppConfig
</script>

<style>
    :global(.text-yellow-thunder) {
        color: #ffdd57;
    }

    :global(.bg-yellow-thunder) {
        background-color: #ffdd57;
    }

    .browser-mockup {
        border-top: 2em solid;
        position: relative;
    }

    .browser-mockup:before {
        display: block;
        position: absolute;
        content: '';
        top: -1.25em;
        left: 1em;
        width: 0.5em;
        height: 0.5em;
        border-radius: 50%;
        background-color: #f44;
        box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
    }

    :global(.title-line) {
        width: 10rem;
        height: 0.25rem;
        margin-bottom: 0.75rem;
    }

    /* ---------- Fog ---------- */
.fogwrapper {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
  filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
}
#foglayer_01, #foglayer_02, #foglayer_03 {
  height: 100%;
  position: absolute;
  width: 200%;
}
#foglayer_01 .image01, #foglayer_01 .image02,
#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02 {
  float: left;
  height: 100%;
  width: 50%;
}
#foglayer_01 {
  -webkit-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
  -moz-animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
  animation: foglayer_01_opacity 10s linear infinite, foglayer_moveme 15s linear infinite;
}
#foglayer_02, #foglayer_03 {
  -webkit-animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
  -moz-animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
  animation: foglayer_02_opacity 21s linear infinite, foglayer_moveme 13s linear infinite;
}

/* ---------- Moving Fog ---------- */
/*
  'size: cover' || 'size: 100%'; results remain the same
  'attachment: scroll' can be added or removed; results remain the same
  'attachment: fixed' causing unexpected results in Chrome
  'repeat-x' || 'no-repeat'; results remain the same
*/ 
#foglayer_01 .image01, #foglayer_01 .image02 {
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png") center center/cover no-repeat transparent;
}
#foglayer_02 .image01, #foglayer_02 .image02,
#foglayer_03 .image01, #foglayer_03 .image02{
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog2.png") center center/cover no-repeat transparent;
}

/* ---------- Keyframe Layer 1 ---------- */
@-webkit-keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .28; }
  58% { opacity: .4; }
  80% { opacity: .16; }
  100% { opacity: .1; }
}
@-moz-keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .28; }
  58% { opacity: .4; }
  80% { opacity: .16; }
  100% { opacity: .1; }
}
@-o-keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .28; }
  58% { opacity: .4; }
  80% { opacity: .16; }
  100% { opacity: .1; }
}
@keyframes foglayer_01_opacity {
  0% { opacity: .1; }
  22% { opacity: .5; }
  40% { opacity: .28; }
  58% { opacity: .4; }
  80% { opacity: .16; }
  100% { opacity: .1; }
}
/* ---------- Keyframe Layer 2 ---------- */
@-webkit-keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .1; }
  80% { opacity: .3; }
  100% { opacity: .5; }
}
@-moz-keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .1; }
  80% { opacity: .3; }
  100% { opacity: .5; }
}
@-o-keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .1; }
  80% { opacity: .3; }
  100% { opacity: .5; }
}
@keyframes foglayer_02_opacity {
  0% { opacity: .5; }
  25% { opacity: .2; }
  50% { opacity: .1; }
  80% { opacity: .3; }
  100% { opacity: .5; }
}
/* ---------- Keyframe Layer 3 ---------- */
@-webkit-keyframes foglayer_03_opacity {
  0% { opacity: .8 }
  27% { opacity: .2; }
  52% { opacity: .6; }
  68% { opacity: .3; }
  100% { opacity: .8; }
}
@-moz-keyframes foglayer_03_opacity {
  0% { opacity: .8 }
  27% { opacity: .2; }
  52% { opacity: .6; }
  68% { opacity: .3; }
  100% { opacity: .8; }
}
@-o-keyframes foglayer_03_opacity {
  0% { opacity: .8 }
  27% { opacity: .2; }
  52% { opacity: .6; }
  68% { opacity: .3; }
  100% { opacity: .8; }
}
@keyframes foglayer_03_opacity {
  0% { opacity: .8; }
  27% { opacity: .2; }
  52% { opacity: .6; }
  68% { opacity: .3; }
  100% { opacity: .8; }
}
/* ---------- Keyframe moveMe ---------- */
@-webkit-keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}
@-moz-keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}
@-o-keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}
@keyframes foglayer_moveme {
  0% { left: 0; }
  100% { left: -100%; }
}

@media only screen
  and (min-width: 280px)
  and (max-width: 767px) {
    #foglayer_01 .image01, #foglayer_01 .image02,
    #foglayer_02 .image01, #foglayer_02 .image02,
    #foglayer_03 .image01, #foglayer_03 .image02 {
      width: 100%;
    }
  }
    /* ---------- Fog ---------- */
  
</style>

<svelte:head>
    <title>{$_('appName')} - {$_('appSubtitle')}</title>
</svelte:head>



<section
class="fog absolute bg-[#00045f] h-full w-full flex items-center justify-center"
>

<div id="foglayer_01" class="fog">
    <div class="image01"></div>
    <div class="image02"></div>
  </div>
  <div id="foglayer_02" class="fog">
    <div class="image01"></div>
    <div class="image02"></div>
  </div>
  <div id="foglayer_03" class="fog">
    <div class="image01"></div>
    <div class="image02"></div>
  </div>
  
    <div class="absolute items-center">
        <!-- <div class="text-center m-24">
        <h1
                    class="text-white mb-2 lg:mb-4 text-5xl font-lato uppercase font-semibold leading-none"
                >
                    {$_('landingTitle')}
                </h1>
            </div> -->
        

                <!-- <p class="py-2 lg:py-4 text-2xl lg:text-3xl mb-4 font-lato">
                    {$_('landingSalesPitch')}
                </p> -->
                <div class="inline-flex w-full items-center space-x-16">
                        <a
                        type=button 
                        class="
                        hover:scale-125
                        py-4 px-10
                        md:w-auto
                            w-1/2
                            no-underline
                            bg-transparent
                            text-white
                            hover:border-[#ed5e06]
                            border
                            border-white
                            rounded
                            font-lato
                            uppercase
                            "
                            href="{$warrior.id
                                ? appRoutes.retros
                                : appRoutes.register}"
                        >
                            {$_('battleCreate')}
                            </a>
                    <a
                    type=button    
                    class="
                    hover:scale-125
                    py-4 px-10
                    md:w-auto
                        w-1/2
                        no-underline
                        bg-transparent
                        text-white
                        border-[#ed5e06]
                        border
                        rounded
                        font-lato
                        uppercase
                        block"
                        href="{$warrior.id
                            ? appRoutes.retros
                            : appRoutes.register}"
                    >
                    {$_('retroCreate')}
                        </a>
                </div> 
            </div>

            
</section>