<!doctype html>
<html lang="en">
<head>
    ${metas}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Planning and Retros for Foggies!</title>
    <meta name="description"
          content="Hohoho i want to play a game with you!!!"/>

    <link rel="apple-touch-icon" sizes="180x180" href="{{.AppConfig.PathPrefix}}/img/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{.AppConfig.PathPrefix}}/img/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{.AppConfig.PathPrefix}}/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{.AppConfig.PathPrefix}}/img/favicon-16x16.png">
    <!-- <link rel="manifest" href="{{.AppConfig.PathPrefix}}/img/manifest.json" crossorigin="use-credentials"> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap" rel="stylesheet">
    ${links}
</head>

<body class="bg-slate-100 dark:bg-gray-900 flex flex-col min-h-screen">
<noscript>
    <strong class="text-4xl font-bold text-red-500">
        We're sorry but ui doesn't work properly without JavaScript enabled.<br/>
        Please enable it to continue.
    </strong>
</noscript>
{{if .AnalyticsEnabled}}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{.AnalyticsID}}"></script>
<script>
  window.dataLayer = window.dataLayer || []

  function gtag () {dataLayer.push(arguments)}

  gtag('js', new Date())

  gtag('config', '{{.AnalyticsID}}')
</script>
{{end}}
<script>
  appConfig = {{.AppConfig}}
  ActiveAlerts = {{.ActiveAlerts}}
</script>
${scripts}
</body>
</html>